*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background:#60a971ba;
    color:white;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:rgba(249, 246, 244, 0.878);
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.banner{
    height:80vh;
    background:url("amil.webp") center/cover;
    display:flex;
    align-items:center;
    padding:0 8%;
}

.banner-texto{
    max-width:600px;
    color:rgba(238, 241, 238, 0.77);
}

.banner h2{
    font-size:3rem;
    margin-bottom:15px;
}

.banner p{
    margin-bottom:20px;
    line-height:1.6;
}

.btn{
    background:#325b4a;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
}

#sobre,
#planos,
#contato{
    padding:80px 8%;
}

#sobre h2,
#planos h2,
#contato h2{
    margin-bottom:20px;
    color:#00995d;
}

.container-planos{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
    margin-top:30px;
}

.card{
    width:280px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    text-decoration:none;
    color:#333;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card h3{
    padding:15px;
}

.card p{
    padding:0 15px 15px;
}

.card span{
    display:block;
    padding:15px;
    color:#00995d;
    font-weight:bold;
}

footer{
    background:#00995d;
    color:white;
    text-align:center;
    padding:20px;
}