:root {
    --cor-primaria: #6D071A;
    --cor-secundaria: #a51f13;
    --cor-fundo: #5C4033;
    --cor-texto: #1a0a0a;
    --cor-branca: #F5E6CA;

    --fonte-principal: Arial, sans-serif;

    --borda-radius: 10px;
    --sombra: 0 4px 10px rgb(56, 55, 55);

}

body {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    /*background-color: var(--cor-fundo);*/
    color: var(--cor-texto);
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.caixa {

    background-color: var(--cor-branca);
    padding: 30px;
    border-radius: var(--borda-radius);
    box-shadow: var(--sombra);
    text-align: center;
    width: 500px;

}

h1 {
    color: var(--cor-primaria);
}

button {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: var(--borda-radius);
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-secundaria);

}