@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.foto {
    display: block;
    margin: auto;
    width: 200px;
}



.titulo {
    color: lightblue;
}

body {
    background-color: rgba(251, 251, 248, 0.799);
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.paragrafo {
    color: rgb(103, 143, 145);
    text-align: center;
    font-size: 25px;
}

.texto {
    color: rgb(103, 143, 145);
    background-color: cornsilk;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;


}

.banner {
  display: block;
  margin: 0 auto;
}

.medico{

color: lightsteelblue;
background-color: cornsilk;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
}

.servico{

    color: lightsteelblue;
background-color: cornsilk;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;

}

.serviço{

color: lightsteelblue;
background-color: cornsilk;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;

}